<ads-header></ads-header>

<body>


    <div class="section" id="cadastro">
        <div class="container">
            <div class="section-title">
                <h3>CADASTRE-SE JÁ</h3>

                <small>Experimente todas as funcionalidades grátis por 30 dias, sem compromisso.</small>

                <div class="container2  justify-content-center">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-price active" id="Barbeiro">
                                    <input type="radio" name="price-plan" autocomplete="off" checked=""> BARBEIRO <p class="text-white"></p>
                                </label>
                        <label class="btn btn-price" id="Cliente">
                                    <input type="radio" name="price-plan" autocomplete="off"> CLIENTE <p class="text-white"></p>
                                </label>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <form id="formCadastro" class="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="basic-url">Nome Completo*</label>
                                    <input type="text" name="nome" class="form-control form-control-sm" id="nome" placeholder="Nome Completo (Ex: José das Coves)*" required minlength="3">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>CPF*</label>
                                    <input type="text" class="form-control form-control-sm" name="cpf" id="cpf" placeholder="Ex: (888.888.888.88)*" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Data de Nascimento*</label>
                                    <input type="date" name="dt_nasc" class="form-control form-control-sm" id="dta_nasc" placeholder="Ex: 11/11/1111*" required="" required min="1938-01-01" max="2000-12-31">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>E-mail Para Acesso*</label>
                                    <input type="email" class="form-control form-control-sm" name="email" id="email" placeholder="E-mail Para Acesso*" required="">
                                    <small class="text-info" style="display:none;" id="suggest-email"></small>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Telefone do Contato*</label>
                                    <input type="tel" name="telefone" class="form-control form-control-sm" id="telefone" placeholder="Ex: (88) 88888-8888*" minlength="11" required="" maxlength="15">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Endereço*</label>
                                    <input type="text" class="form-control form-control-sm" name="nomecontato" id="nomecontato" placeholder="Ex: Rua p1, n16 , St Oeste*" data-rule="email" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Cidade*</label>
                                    <input type="text" name="telefone" class="form-control form-control-sm" id="telefone" placeholder="Ex: São-Paulo*" minlength="14" required="" maxlength="15">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Estado*</label>
                                    <input type="text" class="form-control form-control-sm" name="nomecontato" id="nomecontato" placeholder="Ex: SP*" data-rule="email" required="" minlength="2">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>CEP*</label>
                                    <input type="text" class="form-control form-control-sm" name="nomecontato" id="nomecontato" placeholder="Ex: 11.111-111*" data-rule="email" required="" maxlength="2">
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Senha <small>(Mínimo de 6 e máximo de 15 caracteres)*</small></label>
                                    <input type="password" class="form-control form-control-sm" name="senha" id="senha" placeholder="Senha*" minlength="6" maxlength="15" required="">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Confirme a Senha <small>(Mínimo de 6 e máximo de 15 caracteres )*</small></label>
                                    <input type="password" class="form-control form-control-sm" name="confirmaSenha" id="confirmaSenha" placeholder="Confirma a Senha*" minlength="6" maxlength="15" required="">

                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group form-control-sm">
                                    <p>
                                        <input type="checkbox" id="conduso" name="conduso" required=""> Li e aceito o <a href="https://drive.google.com/file/d/1nsTZgJaXVQUVnlqi8-nVwbzhrzyfuIg_/view?usp=sharing" target="_blank" class="text-barber2">Termo de Condição de Uso.</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary" type="submit">CADASTRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>