<header class="p-3 bg-secondary text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <img href="#" src="../../../assets/img/SR.Navalha logo escrita.png" width="8%" width="4%" height="2%">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-secondary"><strong>HOME</strong></a></li>
          <li><a href="#" class="nav-link px-2 text-white"><strong>PLANOS</strong></a></li>
          <li><a href="#" class="nav-link px-2 text-white"><strong>SOBRE</strong></a></li>
          <li><a href="#" class="nav-link px-2 text-white"><strong>CONTATOS</strong></a></li>
        </ul>
        <div class="text-end">
          <button type="button" routerLink="login" class="btn btn-outline-light me-2"><strong>LOGIN</strong></button>
          <button type="button" class="btn btn-warning"><strong>CADASTRAR</strong></button>
        </div>
      </div>
    </div>
  </header>