<div class="container">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <div class="row">
        <div class="col-12">
            <header class="p-3 bg-secondary text-white">
                <div class="nav-menu fixed-top is-scrolling">
                    <div class="d-flex  align-items-center justify-content-lg-end">
                        <img href="#" src="../../../assets/img/SR.Navalha logo escrita.png" width="8%" width="4%"
                            height="2%" alt="">
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <li><a href="#" class="nav-link px-2 text-secondary">HOME</a></li>
                            <li><a href="#idSobre" class="nav-link px-2 text-white">SOBRE</a></li>
                            <li><a href="#idContatos" class="nav-link px-2 text-white">CONTATOS</a></li>
                        </ul>
                        <div class="text-end" *ngIf="!estaLogado()">
                            <button type="button" (click)="login()" class="btn btn-outline-light me-2 btn-sm"><i class="bi bi-box-arrow-right"></i> LOGIN</button>
                            <button type="button" routerLink="/cadastro" class="btn btn-warning btn-sm"><i class="bi bi-person-plus"></i> CADASTRAR</button>
                        </div>
                        <div class="text-end" *ngIf="estaLogado()">
                            <button disabled type="menu" class="btn btn-outline-light me-2 btn-sm"><i class="bi bi-person"></i>     {{nome}}</button>
                            <button type="button" (click)="sair()" class="btn btn-warning btn-sm"><i class="bi bi-box-arrow-left"></i> SAIR</button>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>