<nav class="navbar navbar-expand navbar-dark">
    <div class="row">
        <div class="col-12">
            <ul class="navbar-nav">
                <div class="image">
                    <img src="../../../assets/img/logo.jpg" class="img-circle elevation-2" alt="User Image">
                </div>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">CARACTERÍSTICAS</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">PLANOS</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">CONTATO</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Cadastre-se</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="login" class="btn btn-block btn-secondary">Acessar o Sistema</a>
                </li>
            </ul>
        </div>
    </div>
</nav>