<div class="bg-dark text-secondary px-4 py-5 text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-white"><strong>Sr Navalha</strong></h1>
    <div class="col-lg-6 mx-auto">
      <p>O Sr Navalha é um sistema de gestão on-line para barbearias que permite agendamentos de horários com diversos
        serviços previamente cadastrados organizando a agenda e otimizando os processos do estabelecimento.</p>
      </div>
    </div>
    <div class="copyright">
      © 2021 Sr Navalha. Todos os direitos reservados<a href="#" target="_blank" title="Sr Navalha"></a> </div>
  </div>