<body>
  <div class="container">
      <div class="row">
          <div class="col-12">
              <header class="p-3 bg-secondary text-white">
                  <div class="nav-menu fixed-top is-scrolling">
                      <div class="d-flex  align-items-center justify-content-lg-end">
                          <img href="#" src="../../../assets/img/SR.Navalha logo escrita.png" width="8%" width="4%" height="2%" alt="">
                          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                              <div class="sidebar-brand-text mx-3" style="padding-top: 0%; color: white;"><b>Sr Navalha</b></div>
                          </ul>
                          <div class="text-end">
                              <a class="nav-link dropdown-menu-right" role="button" data-toggle="dropdown">
                                  <span class="ml-2 d-none d-lg-inline text-white small"> {{AdminNome}}</span>
                                  <img class="img-profile rounded-circle" src="../../../assets/img/man.png" style="max-width: 50px">
                              </a>
                              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" routerLink="/login" (click)="sair()" data-toggle="modal" data-target="#PerfilModalSair">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                                </a>
                                <a class="dropdown-item" href="http://localhost:8180/auth/realms/srnavalha/login-actions/reset-credentials?client_id=tutorial-frontend&tab_id=aoavxobhUfM" data-toggle="modal" data-target="#PerfilModalSair">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Redefinir Senha
                                </a>
                            </div>
                          </div>
                      </div>
                  </div>
              </header>
          </div>
      </div>
  </div>
  <ads-agendamentos></ads-agendamentos>
  <ads-tela-cliente-admin></ads-tela-cliente-admin>
  <ads-tela-barbeiro-admin></ads-tela-barbeiro-admin>
</body>