<body id="page-top" style="background-color: black;">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="../../../assets/img/SR.Navalha logo escrita.png">
                </div>
                <div class="sidebar-brand-text mx-3">Sr Navalha</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Painel de Controle</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Gestão
            </div>
            <li class="nav-item" id="itemAgendamento" name="itemAgendamento">
                <a class="nav-link collapsed" routerLink="agend" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Agendamentos</span>
                </a>
            </li>
            <li class="nav-item" id="itemServico" name="itemServico">
                <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="false" aria-controls="collapseBootstrap">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Serviços</span>
                </a>
                <div class="collapse" id="collapseBootstrap">
                    <div class="card card-body">
                        <li><a class="dropdown-item" routerLink="serv">Cadastrar Serviço</a></li>
                        <li><a class="dropdown-item" routerLink="servlist">Listar Serviço</a></li>
                    </div>
                </div>
            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top" style="padding-left: 75%;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="ml-2 d-none d-lg-inline text-white small" style="padding-right: 20px;"> {{
                                    AdminNome
                                    }}</span>
                                <img class="img-profile rounded-circle" src="../../../assets/img/man.png" style="max-width: 60px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" data-toggle="modal" data-target="#PerfilModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-200"></i >Perfil
                                </a>
                             <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#PerfilModalSair">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="col-xl-12 col-lg-12 ">
                        <div class="card text-dark bg-info">
                            <div class="card-header"><strong>Bem vindo</strong></div>
                            <div class="card-body">
                                <h5 class="card-title">{{AdminNome}}</h5>
                                <p class="card-text">O Sr Navalha é um sistema de gestão on-line para barbearias que permite agendamentos de horários com diversos serviços previamente cadastrados organizando a agenda e otimizando os processos do estabelecimento.</p>
                            </div>
                        </div>
                    </div>

                    <router-outlet></router-outlet>

                    <!-- Modal Sair -->



                    <div class="modal fade in" id="PerfilModal" tabindex="-1" role="dialog" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">

                                    <h3 class="modal-title"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                            <path
                                                d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z" />
                                        </svg> Editar Perfil
                                    </h3>


                                </div>


                                <form id="formEditarPerfil" enctype="multipart/form-data" class="ng-pristine ng-valid">
                                    <div class="modal-body">
                                        <div class="box-body">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group">
                                                    <label for="basic-url">Nome Completo*</label >
                                                    <input [(ngModel)]="novoBarbeiro.nome" type=" text " name="nome " class="form-control form-control-sm " id="nome " placeholder="Nome Completo (Ex: José das Coves)*">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-12 " >
                                                <div class="form-group " >
                                                    <label>CPF*</label>
                                                    <input [(ngModel)]="novoBarbeiro.cpf" type="text " class="form-control form-control-sm " name="cpf " id="cpf " placeholder="Ex: (888.888.888.88)* ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Data de Nascimento*</label>
                                                    <input [(ngModel)]="novoBarbeiro.dataNascimento" type="date " name="dt_nasc " class="form-control form-control-sm " id="dta_nasc " placeholder="Ex: 11/11/1111* ">
                                                </div>
                                            </div>
                                            <div class="col-md-6 ">
                                                <div class="form-group ">
                                                    <label>E-mail Para Acesso*</label>
                                                    <input [(ngModel)]="novoBarbeiro.email" [(ngModel)]="credencial.email" type="email " class="form-control form-control-sm " name="email " id="email " placeholder="E-mail Para Acesso* ">
                                                    <small class="text-info " style="display:none; " id="suggest-email "></small>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Telefone do Contato*</label>
                                                    <input [(ngModel)]="novoBarbeiro.telefone" type="tel " name="telefone " class="form-control form-control-sm " id="telefone " placeholder="Ex: (88) 88888-8888* ">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>CEP*</label>
                                                    <input [(ngModel)]="novoBarbeiro.endereco.cep" type="text " class="form-control form-control-sm " name="cep " id="cep " placeholder="Ex: 11.111-111* " data-rule="email ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Endereço*</label>
                                                    <input [(ngModel)]="novoBarbeiro.endereco.rua" type="text " class="form-control form-control-sm " name="endereco " id="endereco " placeholder="Ex: Rua p1, n16 , St Oeste* " data-rule="email ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Estado*</label>
                                                    <input [(ngModel)]="novoBarbeiro.endereco.cidade.uf" type="text " class="form-control form-control-sm " name="estado " id="estado " placeholder="Ex: SP* " data-rule="estado ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Cidade*</label>
                                                    <input [(ngModel)]="novoBarbeiro.endereco.cidade.nome" type="text " name="cidade " class="form-control form-control-sm " id="telefone " placeholder="Ex: São-Paulo* ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Bairro*</label>
                                                    <input [(ngModel)]="novoBarbeiro.endereco.bairro" type=" text" name="bairro " class="form-control form-control-sm " id="bairro " placeholder="Ex: Setor Leste Vila Nova* ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Número do Endereço*</label>
                                                    <input [(ngModel)]="novoBarbeiro.endereco.numero" type="text " name="cidade " class="form-control form-control-sm " id="telefone " placeholder="Ex: 1443* ">
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Senha <small>(Mínimo de 6 e máximo de 15 caracteres)*</small></label>
                                                    <input [(ngModel)]="novoBarbeiro.credencial.senha" type="password" class="form-control form-control-sm" name="senha" id="senha" placeholder="Senha*">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group ">
                                                    <label>Confirme a Senha <small>(Mínimo de 6 e máximo de 15 caracteres
                                                        )*</small></label>
                                                    <input [(ngModel)]="novoBarbeiro.credencial.senha" type="password" class="form-control form-control-sm" name="confirmaSenha" id="confirmaSenha" placeholder="Confirma a Senha*">

                                                </div>
                                            </div>

                                            <div class="text-center" *ngIf="novoBarbeiro.nome !== '' ">
                                                <button type="button " class="btn btn-outline-primary " data-dismiss="modal " onClick="history.go(0) ">Voltar</button>
                                                <button (click)="updateBarbeiro()" style="margin: 2%;" class="btn btn-primary " type="submit ">ATUALIZAR</button>
                                            </div>
                                            <button (click)="updatePerfilBarbeiro()" style="margin: 2%;" class="btn btn-primary " type="submit ">BUSCAR DADOS</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>



                    <div class="modal fade " id="PerfilModalSair" tabindex="-1 " role="dialog " aria-labelledby="exampleModalLabelLogout " aria-hidden="true">
                        <div class="modal-dialog " role="document ">
                            <div class="modal-content ">
                                <div class="modal-header ">
                                    <h5 class="modal-title " id="exampleModalLabelLogout ">Ahh Não!</h5>
                                </div>
                                <div class="modal-body ">
                                    <p>Tem certeza que deseja sair?</p>
                                </div>
                                <div class="modal-footer ">
                                    <button type="button " class="btn btn-outline-primary " data-dismiss="modal " onClick="history.go(0) ">Voltar</button>
                                    <a (click)="sair()" class="btn btn-primary ">Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="sticky-footer bg-white ">
                <div class="container my-auto ">
                    <div class="copyright text-center my-auto ">
                        <span>&copy; Sr Navalha - 2021
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous "></script>