<body id="page-top" style="background-color: black;">
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon">
                    <img src="../../../assets/img/SR.Navalha logo escrita.png">
                </div>
                <div class="sidebar-brand-text mx-3">Sr Navalha</div>
            </a>
            <hr class="sidebar-divider my-0">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Painel de Controle</span></a>
            </li>
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Gestão
            </div>
            <li class="nav-item" id="itemAgendamento" name="itemAgendamento">
                <a class="nav-link collapsed" routerLink="agend" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Agendamentos</span>
                </a>

            </li>
            <li class="nav-item" id="itemServico" name="itemServico">
                <a class="nav-link collapsed" routerLink="serv" data-toggle="collapse" data-target="#collapseBootstrap" aria-expanded="true" aria-controls="collapseBootstrap">
                    <i class="far fa-fw fa-window-maximize"></i>
                    <span>Serviços</span>
                </a>

            </li>
        </ul>
        <!-- Sidebar -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <!-- TopBar -->
                <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top" style="padding-left: 91%;">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="ml-2 d-none d-lg-inline text-white small" style="padding-right: 20px;"> {{
                                    AdminNome
                                    }}</span>
                                <img class="img-profile rounded-circle" src="../../../assets/img/man.png" style="max-width: 60px">
                            </a>

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">

                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#PerfilModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-200"></i>Perfil
                                </a>


                                <div class="dropdown-divider"></div>

                                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                                </a>

                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- Topbar -->
                <!-- Container Fluid-->
                <div class="container-fluid" id="container-wrapper">
                    <div class="col-xl-12 col-lg-12 ">
                        <div class="card text-dark bg-info">
                            <div class="card-header"><strong>Bem vindo</strong></div>
                            <div class="card-body">
                                <h5 class="card-title">{{AdminNome}}</h5>
                                <p class="card-text">O Sr Navalha é um sistema de gestão on-line para barbearias que permite agendamentos de horários com diversos serviços previamente cadastrados organizando a agenda e otimizando os processos do estabelecimento.</p>
                            </div>
                        </div>
                    </div>

                    <router-outlet></router-outlet>

                    <!-- Modal Sair -->



                    <div class="modal fade in" id="PerfilModal" tabindex="-1" role="dialog" aria-hidden="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                    <h4 class="modal-title"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                      </svg> Editar Perfil </h4>
                                </div>
                                <form id="formEditarPerfil" enctype="multipart/form-data" class="ng-pristine ng-valid">
                                    <div class="modal-body">
                                        <div class="box-body">

                                            <!-- ID da Tabela -->
                                            <input type="hidden" name="idUsuario" id="idUsuario" class="form-control">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Nome*</label>
                                                        <input type="text" name="perNome" id="perNome" class="form-control" placeholder="Nome">
                                                    </div>
                                                </div>



                                            </div>


                                            <div class="form-group">
                                                <label>(*) Campos Obrigatórios.</label>
                                            </div>

                                            <!-- Botões -->
                                            <div class="box-footer">
                                                <button type="submit" class="btn btn-primary">Salvar</button>
                                            </div>

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>




                    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabelLogout">Ahh Não!</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Tem certeza que deseja sair?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Voltar</button>
                                    <a href="/" class="btn btn-primary">Sair</a>
                                </div>
                            </div>
                        </div>
                    </div>



















                </div>

            </div>



















            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>&copy; Sr Navalha - 2021
                        </span>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>