<body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <img class="logo" src='../../../assets/img/SR.Navalha logo escrita.png' />
            </div>
            <form id="frmLogin">
                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" placeholder="Usuário ou E-mail" [(ngModel)]="usuario.nome" name="userid"
                            id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>
                    <div class="control-group">
                        <input type="password" class="login-field" placeholder="Senha" [(ngModel)]="usuario.senha" name="password" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                        <p class="help-block capslock"></p>
                    </div>
                    <button class="btn btn-large btn-block" (click)="logar()" type="submit">Acessar</button>
                    <hr class="hr-divider">
                    <a class="login-link" href="" style="color: #00233d;" data-bs-toggle="modal"
                        data-bs-target="#exampleModal">
                        <strong>Esqueceu a Senha?</strong>
                    </a><br>
                    <a class="login-link" data-toggle="modal" style="color: #00233d;" data-target="#esqueceu-senha-modal" routerLink="/"><strong>Voltar</strong></a>
                </div>
            </form>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><strong>Esqueceu a Senha</strong></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <input placeholder="E-mail" type="email" class="form-control" id="recipient-name">
                                </div>
                                <button type="submit" (click)="recuperarEmail()" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>