<body>
    <div class="login">
        <div class="login-screen">
            <div class="app-title">
                <img class="logo" src='../../../assets/img/SR.Navalha logo escrita.png' />
            </div>
            <form id="frmLogin">
                <div class="login-form">
                    <div class="control-group">
                        <input type="text" class="login-field" placeholder="Usuário ou E-mail" name="userid" id="login-name">
                        <label class="login-field-icon fui-user" for="login-name"></label>
                    </div>

                    <div class="control-group">
                        <input type="password" class="login-field" placeholder="Senha" name="password" id="login-pass">
                        <label class="login-field-icon fui-lock" for="login-pass"></label>
                        <p class="help-block capslock"></p>
                    </div>
                    <button class="btn btn-large btn-block" type="submit">Acessar</button>
                    <hr class="hr-divider">
                    <a class="login-link" data-toggle="modal" data-target="#esqueceu-senha-modal" href="recuperarSenha">Esqueceu a
                        Senha?</a>
                </div>
            </form>
        </div>
    </div>
</body>