<body>
    <main class="form-signin">
        <form>
            <img id="imagem" class="mb-4" src="../../../assets/img/SR.Navalha logo escrita.png" width="80%" height="30%">
            <h1 id="loginText" class="h3 mb-3 fw-normal">Login</h1>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" placeholder="miguel@srnavalha.com">
                <label for="floatingInput">E-mail</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Senha</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        </form>
    </main>
</body>