<body>
    <br>
    <div class="section" id="servico">
        <div class="container">
            <div class="section-title">
                <h3>CADASTRE O SERVIÇO</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-12">
                    <form id="formServico" class="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <label for="basic-url">Nome do Serviço*</label>
                                    <input [(ngModel)]="servico.nome" type="text" name="nome"
                                        class="form-control form-control-sm" id="nome"
                                        placeholder="Nome do Serviço (Ex: Barba)*">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Descrição do Serviço*</label>
                                    <input type="text" class="form-control form-control-sm" name="descricao"
                                        id="descricao"
                                        placeholder="Ex: (Abrange somente o corte e modelagem da barba)*">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group">
                                    <label>Valor do Serviço*</label>
                                    <input type="number" name="valor" class="form-control form-control-sm" id="valor"
                                        placeholder="Ex: 25.00">
                                </div>
                            </div>
                        </div>
                        <div>
                            <label>Foto do Serviço</label>
                            <br>
                            <input type="file" id="selecionarfoto" accept="image/png, image/jpeg">
                            <img [src]="url" style="width: 500px">
                        </div>
                        
                        

                        <div style="padding: 1% 0px 1% 0px;" class="text-center">
                            <button class="btn btn-primary" type="button" (click)="createservico()">CADASTRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>