html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: hsl(210, 11%, 15%) !important;
}
.form-signin, img{
  align-items: center !important;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding-top: 2%;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
#imagem{
  padding-left: 20% !important;
}
#loginText{
  color: white !important;
}