
.container {
  padding-top: 5rem;
padding-bottom: 5%;
}



body {
  background-image: url(../../../assets/img/fundoBarbearia.png);
  font-family: "Quicksand", sans-serif;
  background-size: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
}
