.section-title {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2.5;
    color: #000000;
    text-align: left;
    background-image: url(../../../assets/img/fundoBarbearia.png);
    bottom: 0;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
}

.container {
    background-color: rgba(255, 255, 255, 0.836);
    border-radius: 15px;
    padding: 10px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}

input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}

h4 {
    color: #555
}

h3 {
    color: #555
}

.card img {
    height: 200px;
}

#agendar {
    background-color: rgb(46, 6, 226);
    color: rgb(248, 248, 250);
    border-radius: 20px;
    border-color: rgb(30, 12, 112);
}

.nav-menu {
  
    background:rgba(0, 0, 0, 0.904);
    position: fixed;
    top: 0;
    padding: 10px 8%;
}
.ordem-compra{
    margin-top: 50px; 
    margin-bottom: 150px;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}

select.ng-invalid.ng-touched {
    border: 1px solid red;
}
input.ng-valid.ng-touched {
    border: 1px solid green;
}

select.ng-valid.ng-touched {
    border: 1px solid green;
}