<div class="container">
    <div class="row">
        <div class="col-12">
            <header class="p-3 bg-secondary text-white">
                <div class="nav-menu fixed-top is-scrolling">
                    <div class="d-flex  align-items-center justify-content-lg-end">
                        <img href="#" src="../../../assets/img/SR.Navalha logo escrita.png" width="8%" width="4%" height="2%" alt="">
                        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                            <div class="sidebar-brand-text mx-3" style="padding-top: 0%; color: white;"><b>Sr Navalha</b></div>
                        </ul>
                        <div class="text-end">
                            <a class="nav-link dropdown-menu-right" role="button" data-toggle="dropdown">
                                <span class="ml-2 d-none d-lg-inline text-white small"> {{AdminNome}}</span>
                                <img class="img-profile rounded-circle" src="../../../assets/img/man.png" style="max-width: 50px">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                                <a class="dropdown-item" routerLink="/perfilCliente/jhonathandosreis@hotmail.com" data-toggle="modal" data-target="#PerfilModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-200"></i>Perfil
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" routerLink="/telaCliente/servlist" data-toggle="modal" data-target="#PerfilAgendamentos">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Servicos
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" (click)="sair()" data-toggle="modal" data-target="#PerfilModalSair">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> Sair
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>

<body style="padding-top: 5%;">
    <div class="container" style="padding: 3px 2% 0px 2%;">
        <div class="ordem-compra">
            <form [formGroup]="formulario" novalidate>
                <h4 style="padding-top: 0%; font-size: 30px;" class="text-center"><b>Serviço Selecionado</b></h4>
                <hr />
                <div class="form-row" style=" padding: 1%; border-bottom: solid 1px #F0F0F0">
                    <div class="row">
                        <div class="form-group col-sm-1">
                            <img [src]="servicoNew.imageUrl" class="img-fluid">
                        </div>
                        <div class="form-group col-sm-6">
                            <small><strong>Barbeiro: </strong>{{servicoNew.usuarioBarbeiro.nome}}</small>
                            <br />
                            <small><strong>Descrição: </strong>{{servicoNew.descricao}}</small><br>
                            <small><strong>Valor: </strong>R$ {{servicoNew.valor}}</small>
                        </div>
                    </div>
                </div>
                <div class="form-row" style="border-bottom: solid 1px #F0F0F0; padding-top: 1%;">
                    <h5>Dados para a Prestação do Serviço</h5>
                    <div class="row">
                        <div class="form-group col-md-5 col-12">
                            <label>Logradouro</label>
                            <input type="text" class="form-control" placeholder="Logradouro" autocomplete="off" formControlName="logradouro" [(ngModel)]="endereco.logradouro" readonly>
                        </div>
                        <div class="form-group col-md-2 col-12">
                            <label>CEP</label>
                            <input type="text" maxlength="8" class="form-control" placeholder="CEP" id="cep" formControlName="cep" name="cep" [(ngModel)]="endereco.cep" required (blur)="buscarEndereco($event.target)">
                        </div>
                        <br>
                        <div class="form-group col-md-2 col-12">
                            <label>Numero</label>
                            <input type="number" class="form-control" placeholder="Número" autocomplete="off" formControlName="numero" [(ngModel)]="numero">
                        </div>
                        <br>
                        <div class="form-group col-md-3 col-12">
                            <label>Complemento</label>
                            <input type="text" class="form-control" placeholder="Complemento" autocomplete="off" formControlName="complemento">
                        </div>
                        <div class="form-group col-md-4 col-12" style="padding-top: 1%; padding-bottom: 1%;">
                            <label>Cidade</label>
                            <input type="text" class="form-control" placeholder="Cidade" autocomplete="off" formControlName="cidade" readonly [(ngModel)]="endereco.localidade">
                        </div>
                        <div class="form-group col-md-4 col-12" style="padding-top: 1%; padding-bottom: 1%;">
                            <label>Bairro</label>
                            <input type="text" class="form-control" placeholder="Bairro" autocomplete="off" formControlName="bairro" [(ngModel)]="endereco.bairro" readonly>
                        </div>

                        <div class="form-group col-md-4 col-12" style="padding-top: 1%; padding-bottom: 1%;">
                            <label for="estado">Estado</label>
                            <input type="text" class="form-control" placeholder="Estado" autocomplete="off" formControlName="estado" readonly [(ngModel)]="endereco.uf">
                        </div>
                        <div class="form-group col-md-4 col-12" style="padding-top: 1%; padding-bottom: 1%;">
                            <label for="dataAgendamento">Data agendamento</label>
                            <input type="date" class="form-control" value="dataAgendamento" placeholder="Data agendamento" autocomplete="off" formControlName="dataAgendamento" [(ngModel)]="dataAgendamento">
                        </div>
                        <div class="form-group col-md-4 col-12" style="padding-top: 1%; padding-bottom: 1%;">
                            <label for="horaAgendamento">Hora do agendamento</label>
                            <input type="time" class="form-control" placeholder="Hora agendamento" value="horaAgendamento" autocomplete="off" formControlName="horaAgendamento" [(ngModel)]="horaAgendamento">
                        </div>
                    </div>
                </div>
                <br />
                <h5 style="border-bottom: solid 1px #F0F0F0; padding-bottom: 2%;">Dados de pagamento</h5>
                <div class="form-row" style="border-bottom: solid 1px #F0F0F0; padding-bottom: 3%;">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <small><label>
                                <h6>Forma de Pagamento</h6>
                            </label></small>
                            <input type="text" class="form-control" value="DINHEIRO" readonly data-bs-toggle="tooltip" data-bs-placement="top" title="Breve teremos mais opções de Pagamento">
                        </div>
                        <div class="form-group col d-flex justify-content-end" style="padding-top: 2%; padding-bottom: 5%;">
                            <h6><b>Valor Total:</b> R$ {{servicoNew.valor}}</h6>
                        </div>
                    </div>
                    <div class="col-12">
                        <button (click)="salvarAgendamento()" type="button" class="btn btn-primary btn-lg">Cofirmar
                            Agendamento</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="ordem-compra">
        </div>
    </div>
</body>