<ads-header></ads-header>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="card">
                <div class="card-header">This is my header</div>
                <div class="card-block special-card">This is my block</div>
                <div class="card-footer">This is my footer</div>
            </div>
        </div>
    </div>
</div>
<footer class="footer-agendamento">
    <div class="bg-dark text-secondary px-4 py-5 text-center" id="idContatos">
        <div class="copyright">
            © 2021 Sr Navalha. Todos os direitos reservados
            <a href="#" target="_blank" title="Sr Navalha"></a>
        </div>
    </div>
</footer>