.container {
  padding-top: 3rem;
  padding-bottom: 5%;
}

body {
  background-image: url(../../../assets/img/fundoBarbearia.png);
  font-family: "Quicksand", sans-serif;
  background-size: 100%;
  bottom: 0;
  left: 0;
  overflow: auto;
  position: absolute;
  right: 0;
  top: 0;
} 

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}
input.ng-valid.ng-touched {
  border: 1px solid green;
}

select.ng-valid.ng-touched {
  border: 1px solid green;
}
h5 {
  color:#999
}
h6 {
  color:rgb(116, 116, 116)
}

h4 {
  color:#555
}

h3 {
  color: #555
}

.card img {
  height: 200px;
}

.secao {
  margin-top: 30px;
  margin-bottom: 30px
}
#agendar{
  background-color: #999 !important;
  color: black;
  border-radius: 20px;
  border-color: #999;
}
.preco {
  color: #f60;
  font-weight: bold;
  font-size: 20px
}